/* Apply the following CSS selectors in any editor 
1.  Try different styles of CSS inline,external,internal
2. Selectors font colors, background colors, font sizes and all attributes of the fonts and colors,
3. link colors and types,
4. list colors and types,
5. horizontal and vertical navigation with various attributes,
6. for different elements,
7. different types of 2D and 3D transforms and transitions,
8. pseudo classes and pseudo elements */

p::first-letter{
    font-size: x-large;
    font-weight: bold;
    color:grey;

}

li::marker{
    color: goldenrod;   
}

#external{
    display: block;
    font-weight: lighter;
    color: blue;
    font-size: large;
    font-style: italic; 
}

.line{
    height: 0px;
    width: 100 vw;
    color:black;
    border: solid 1px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:crimson;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:aquamarine;
    border-radius: 5px;
  }
  
 ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

ul li a:hover{
    background-color: black;

}

.transformation{
    height: 50px;
    width: 50px;
    background-color: black;
    box-shadow:gray 5px 3px;
    display:  inline-block;
    margin-right: 40px;
}

#one:hover{
    transform: rotate(45deg);
    transition-timing-function: 2s;
}

#two:hover{
    transform: scale(1.5);
}

#three:hover{
    transform: skew(-30deg);
}

#four:hover{
    transform: rotateX(50deg);
}

#five:hover{
    transform: rotateY(50deg);
}

#six:hover{
    transform: rotateZ(50deg);
}

/* 
#breathetext:before{
    margin: auto;
    animation: breathe-text 8s ease-in-out  infinite;
    content:"Breathe in";
}

@keyframes breathe-text {
    0%{
        content: "breathe in";
    }

    50%{
        content: "breathe out";
    }

    100%{
        content: "breathe in";
    }
} */

.circle{
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: orange;
    border-color: black;
    border-radius: 100%;
    animation-duration: 10s;
    animation-name: small-big;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes small-big {
    from{
        height: 150px;
        width: 150px;
        background-color: orange;
    }
    
    50%{
        height: 300px;
        width: 300px;
        background-color: rgba(255, 166, 0, 0.699);
    }
    
    to{
        height: 150px;
        width: 150px;
        background-color: orange;

    }
}

#wrapper{
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    padding: auto;
}
